{% extends "base.html" %}

{% block title %} Home page {% endblock %}
{% block content %}
<div class="d-flex flex-column min-vh-100 justify-content-center align-items-center"
     xmlns="http://www.w3.org/1999/html">

    <!-- Hidden until current job pop up is submitted -->
    <div id="showResponseArea_curr_jobs" class="alert" style="color:green" hidden>
        <span>
            <strong>Success! </strong>You should receive an email shortly with your current jobs.
        </span>
    </div>

    <!-- Description   -->
    <h1>Microsatellite Finder</h1>
    <p class="container font-weight-light "> Microsatellites (also known as Simple Sequence Repeats (SSRs)) are
        repetitive sections of DNA that repeat throughout the genome. Microsatellites are important for bioinformatics
        because they can be used to advance our understanding of biological systems, genetic diversity, and evolutionary
        processes. Furthermore, microsatellites are also useful for identifying and tracking genetic changes in
        populations, including those that may be important for human health or that are associated with diseases. Most
        commonly, Microsatellites are considered to be between 2 and 7 bases long. You can upload a FASTA file by
        clicking the button below and a job will be made for your analysis, after the job is complete an email will be sent to you with your results.</p>

    <!-- Buttons on home page -->
    <div class="button-box">

        <!-- Upload FASTA file button -->
        <a class="btn btn-dark font-weight-light" href="/upload" role="button" style="background-color: black"
           aria-pressed="true">Upload FASTA file
        </a>

        <!-- Current jobs button which opens the modal-->
        <button type="button" onclick="current_jobs_func()" id="current-jobs-btn" class="btn btn-info btn-dark"
                style="background-color: black">
            View Current Jobs
        </button>

        <!-- Modal for current jobs -->
        <div class="modal" style="block" id="current-jobs-modal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title"> Progress of Current Jobs </h5>
                    </div>

                    <div class="modal-body">
                        <p class="container font-weight-light "> Please enter the email address that you used
                            to submit your current jobs, once submitted an email will be sent to this account listing
                            the current
                            jobs associated with the entered email address. </p>

                        <!-- Form for current job email -->
                        <form name="view_current_jobs" id="view_current_jobs">
                            <div class="form-group">
                                <input type="email" name="inputcurrjobsEmail" class="form-control"
                                       id="inputcurrjobsEmail"
                                       placeholder="Enter email" required>
                            </div>
                            <input type="button" onclick="close_modal()" class="btn btn-secondary " value="close"/>
                            <input type="submit" class="btn btn-dark" value="Submit"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Redirects to github page -->
        <a class="btn btn-dark font-weight-light" href="https://github.com/raeKhan225/Finding-Repetition-in-Genomes"
           role="button" style="background-color: black" aria-pressed="true">View Documentation (GitHub)</a>
    </div>

    <!-- Download Link for the microsatellite -->
    <div class="container py-5">
        <h2>Download</h2>

        <!-- Titles -->
        <div class="row">
            <div class="col-sm">
            </div>
            <div class="col-sm text-right">
                size
            </div>
            <div class="col-sm text-right">
                Date
            </div>
        </div>

        <!-- Values -->
        <div class="row">
            <div class="col-sm">
                <a href="/download">
                    Finding-Repetition-in-Genomes </a>
            </div>
            <div class="col-sm text-right">
                6.8MB
            </div>
            <div class="col-sm text-right">
                5th May 2023
            </div>
        </div>
    </div>
</div>
{% endblock %}