{% extends "base.html" %}
{% block title %} Upload FASTA file {% endblock %}

{% block content %}
<nav class="navbar-expand-lg navbar-dark" style="background-color: black">


    <div class="collapse navbar-collapse font-weight-light" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item active nav-link " href="/">Home <span class="sr-only"></span></a>
            <a class="nav-item  active nav-link" href="https://github.com/raeKhan225/Finding-Repetition-in-Genomes">View
                Documentation</a>

        </div>
    </div>
</nav>

    <div id="showResponseArea" class="alert" style="color:green" hidden>
        <span>
            <strong>Success ! </strong>Your job has been uploaded successfully!!!
        </span>
    </div>
<div class="container py-4">

    <h5>Upload FASTA File</h5>
    <p class="font-weight-light "> Upload a FASTA file, the file formats that are accepted are .fa and .fast files.
        Email description,
        Project title description,
        Min K-mer Length description,
        Max K-mer Length description,
        Min Microsat Length description,
        Graph choice description
    </p>

    <form  name="upload_confirm_form" id="upload_confirm_form"class="font-weight-light " enctype="multipart/form-data">

        <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Enter email" required>
        </div>

        <div class="form-group">
            <label for="projectTitle">Project Title</label>
            <input type="text" class="form-control" id="projectTitle" name="projectTitle"
                   placeholder="Enter Project Title" required>
        </div>

        <div class="form-group">
            <label for="minKmerLength">Min K-mer Length</label>
            <select id="minKmerLength" class="form-control" name="minKmerLength" required>
                <option selected value="">Select size</option>
                <option 2>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        <div class="form-group">

            <label for="maxKmerLength">Max K-mer Length</label>
            <select id="maxKmerLength" class="form-control" name="maxKmerLength" required>
                <option selected value="">Select size</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
            </select>
        </div>
        <div class="form-group">

            <label for="minMicrosatLength">Min Microsat Length</label>
            <select id="minMicrosatLength" class="form-control" name="minMicrosatLength" required>
                <option selected value="">Select size</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
            </select>
        </div>
        <div class="form-group">

            <label for="graphType">Graph choice</label>
            <select id="graphType" class="form-control" name="graphType" required>
                <option selected value="">Select graph</option>
                <option>None</option>
                <option>Bar graph</option>
                <option>Scatter graph</option>
                <option>X graph</option>
            </select>
        </div>
        <div class="form-group">
            <label for="fastaFile">Upload FASTA file</label>
            <input type="file" class=" font-weight-light" id="fastaFile" name="fastaFile" required>
        </div>

        <p class="error error--hidden">


        <input type="submit" value="Submit" class="btn btn-secondary btn-lg btn-block font-weight-light"
                style="background-color: black" >

    </form>


</div>
{% endblock %}